.nav-item {
  font-size: 18px;
  line-height: 64px;
  padding: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #1890ff;
}

.header-logo {
  height: 64px;
  padding-left: 20px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", sans-serif;
  line-height: 64px;
  white-space: nowrap;
  text-decoration: none;
  float: left;
  width: 200px;
}
.header-logo span {
  font-size: 18px;
  overflow: hidden;
  display: block;
}
.header-logo img {
  display: inline-block;
  max-width: 100%;
  max-height: 36px;
  vertical-align: middle;
  animation: fadeIn 1s;
}
.header-nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-right: 10px;
}
.header-nav .nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-nav .nav > li {
  display: inline-block;
  vertical-align: middle;
}
nz-header {
  padding: 0;
  box-shadow: 0 1px 10px #0003;
  z-index: 1;
}

nz-content {
  margin: 16px 16px 0;
}

nz-breadcrumb {
  margin: 10px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
  padding: 10px 50px;
}
.icon_space {
  margin-left: 5px;
}
.fixed-header {
  position: fixed;
  width: 100%;
}
.fixed-content {
  margin-top: 64px;
}
.fixed-widgets {
  position: fixed;
  right: 32px;
  bottom: 50px;
  z-index: 2147483640;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.fixed-widgets nz-avatar {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%),
    0 9px 28px 8px rgb(0 0 0 / 20%);
  transition: color 0.3s;
}
@media only screen and (max-width: 450px) {
  .header-logo {
    width: 49px;
  }
}
