<nz-layout>
  <nz-header [class.fixed-header]="fixHeader">
    <div class="header-logo">
      <span>
        <img src="./assets/logo.ico" alt="Logo" />
        <strong class="logo-text">{{ title }}</strong>
      </span>
    </div>
    <div class="header-nav">
      <ul class="nav">
        <li>
          <i
            class="nav-item"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </li>
        <li>
          <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="settingMenu">
            <i
              nz-icon
              nzType="setting"
              class="nav-item"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="settingMenu"
            ></i>
          </span>
          <nz-dropdown-menu #settingMenu="nzDropdownMenu">
            <ul nz-menu style="min-width: 150px">
              <li nz-menu-item (click)="goFullScreen(!fullScreen)">
                <i
                  nz-icon
                  [nzType]="fullScreen ? 'fullscreen-exit' : 'fullscreen'"
                ></i>
                <span class="icon_space" *ngIf="fullScreen"
                  >Exit Full Screen</span
                >
                <span class="icon_space" *ngIf="!fullScreen">Full Screen</span>
              </li>
              <li nz-menu-item (click)="toggleFixHeader()">
                <i nz-icon [nzType]="fixHeader ? 'unlock' : 'lock'"></i>
                <span class="icon_space" *ngIf="fixHeader"
                  >Exit Fix Header</span
                >
                <span class="icon_space" *ngIf="!fixHeader">Fix Header</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li>
          <a
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="languagesMenu"
            title="select language"
            style="padding: 0 15px"
          >
            <span class="flag-icon flag-icon-gb"></span>
          </a>
          <nz-dropdown-menu #languagesMenu="nzDropdownMenu">
            <ul nz-menu style="min-width: 150px">
              <li nz-menu-item nzDisabled>Language:</li>
              <li nz-menu-item>
                <span class="flag-icon flag-icon-gb"></span
                ><span>&nbsp;English</span>
              </li>
              <li nz-menu-item>
                <span class="flag-icon flag-icon-vn"></span
                ><span>&nbsp;Tiếng Việt</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
      <ul class="nav" *ngIf="(currentAccount$ | async) as currentAccount; else unAuthenticateTpl">
        <li>
          <span
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="userMenu"
            style="cursor: pointer"
          >
            <nz-avatar
              nzIcon="user"
              [nzSrc]="currentAccount.avatarUrl"
            ></nz-avatar>
            {{currentAccount.firstName}} {{currentAccount.lastName}}
          </span>
          <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Profile</li>
              <li nz-menu-item>Change Password</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="onLogout()">Logout</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ul>
      <ng-template #unAuthenticateTpl>
        <a [routerLink]="['/login']"><i nz-icon nzType="login"></i> Login</a>
      </ng-template>
    </div>
  </nz-header>
  <nz-layout [class.fixed-content]="fixHeader">
    <nz-sider
      nzCollapsible
      nzBreakpoint="lg"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      [nzCollapsedWidth]="0"
    >
      <app-slider-menu [menu]="menu"></app-slider-menu>
    </nz-sider>
    <nz-content>
      <!-- <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb> -->
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <nz-footer>Copyright ©{{ currentYear }} Implement By Angular</nz-footer>
</nz-layout>
<nz-back-top></nz-back-top>
<div class="fixed-widgets">
  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="themeMenu">
    <nz-avatar nzIcon="bg-colors"></nz-avatar>
  </div>
  <nz-dropdown-menu #themeMenu="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        (click)="setDefaultTheme()"
        [nzSelected]="currentTheme == 'default'"
      >
        Default
      </li>
      <li
        nz-menu-item
        (click)="setDarkTheme()"
        [nzSelected]="currentTheme == 'dark'"
      >
        Dark Theme
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
